<!DOCTYPE html>
<html lang="en">

@using System.Security.Claims;

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
			 style="position:fixed; width:100%; top:0rem; padding-left:0.5rem;padding-right:0.5rem;z-index:999999999">
			<div style="margin-right:auto">
				<li id="btn-group-toggle" class="btn-group" style="flex-wrap: wrap; justify-content: space-evenly;">
					@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Graphs", "TeachersGraphs", "Graphs", new { area = "" }, new { @class = "btn btn-primary" })
					@if (User.Identity!.IsAuthenticated)
					{
						if (User.IsInRole("Admin"))
						{
							<div class="dropdown-container" style="position:relative">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									University
								</button>
								<ul role="menu" class="dropdown-menu" style="position:absolute; margin-top:1rem;">
									<li>@Html.ActionLink("Faculties", "Index", "Faculties", new { area = "" }, new { @class = "dropdown-item" })</li>
									<li><hr class="dropdown-divider"></li>
									<li>@Html.ActionLink("Courses", "Index", "Courses", new { area = "" }, new { @class = "dropdown-item" })</li>
									<li><hr class="dropdown-divider"></li>
									<li>@Html.ActionLink("Subjects", "Index", "Subjects", new { area = "" }, new { @class = "dropdown-item" })</li>
								</ul>
							</div>
							<div class="dropdown-container" style="position:relative">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									People
								</button>
								<ul role="menu" class="dropdown-menu" style="position:absolute; margin-top:1rem;">
									<li>@Html.ActionLink("Teachers", "Index", "Teachers", new { area = "" }, new { @class = "dropdown-item" })</li>
									<li><hr class="dropdown-divider"></li>
									<li>@Html.ActionLink("Students", "Index", "Students", new { area = "" }, new { @class = "dropdown-item" })</li>
								</ul>
							</div>
							<div class="dropdown-container" style="position:relative">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
										aria-expanded="false">
									Info
								</button>
								<ul role="menu" class="dropdown-menu" style="position:absolute; margin-top:1rem;">
									<li>@Html.ActionLink("Cities", "Index", "Cities", new { area = "" }, new { @class = "dropdown-item" })</li>
									<li><hr class="dropdown-divider"></li>
									<li>@Html.ActionLink("Courses List", "Index", "CourseN", new { area = "" }, new { @class = "dropdown-item" })</li>
								</ul>
							</div>
						}
						else if (User.IsInRole("Student"))
						{
							@Html.ActionLink("Schedule", "Index", "StudentUsers", new { area = "" }, new { @class = "btn btn-primary" })
						}
						else if (User.IsInRole("Teacher"))
						{
							@Html.ActionLink("Grading", "Index", "TeacherUsers", new { area = "" }, new { @class = "btn btn-primary" })
						}
					}
				</li>
			</div>
			@if (!User.Identity!.IsAuthenticated)
			{
				<li id="btn-group-toggle" class="btn-group" style="flex-wrap: wrap; justify-content: space-evenly;">
					@Html.ActionLink("Log in", "Login", "Users", new { area = "" }, new
					{
					@class = "btn btn-primary",
					type = "button",
					style = "margin-right:0.5rem"
					})
					@Html.ActionLink("Register", "Register", "Users", new { area = "" }, new
					{
					@class = "btn btn-primary",
					type = "button",
					style = "margin-right:0.5rem"
					})
				</li>
			}
			else if (User.Identity!.IsAuthenticated)
			{
				<li id="btn-group-toggle" class="btn-group" style="flex-wrap: wrap; justify-content: space-evenly;">
					<label for="logout"
						   style="color: white;font-weight: bold;margin: auto;margin-left: 1rem;margin-right: 1rem;">
						@User.Claims.Where(s => s.Type == ClaimTypes.Name).Select(s => s.Value).FirstOrDefault()
					</label>
					<form asp-action="Logout" asp-controller="Users">
						<button class="btn btn-primary" type="submit" style="margin-right:0.5rem" value="logout">
							Log out
						</button>
					</form>
				</li>
			}
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3" style="margin-top:4rem">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted" style="background: white;  position: fixed;  width: 100%;  bottom: 0rem;">
		<div class="container" style="height:1.5rem; margin-left:0rem">
			&copy; 2022 - University Register - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>